.video-url {
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.video-btn {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#videoStarBtn, #videoAdditionBtn {
    margin-bottom: 10px;
}