amqp==1.4.9
anyjson==0.3.3
asgiref==3.3.1
billiard==3.3.0.23
celery==3.1.26.post2
celery-with-redis==3.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
Django==3.1.5
django-celery==3.3.1
gunicorn==20.0.4
importlib-metadata==3.4.0
kombu==3.0.37
Mako==1.1.4
MarkupSafe==1.1.1
prompt-toolkit==3.0.13
PyMySQL==1.0.2
pytz==2020.5
redis==2.10.6
six==1.15.0
sqlparse==0.4.1
typing-extensions==3.7.4.3
vine==5.0.0
wcwidth==0.2.5
zipp==3.4.0
