<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${self.title()}</title>
    <link rel="stylesheet" href="/static/dashboard/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/dashboard/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/dashboard/css/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="/static/dashboard/css/bootstrapValidator.min.css">
    ${self.css()}
</head>
<body>
<%! from django.urls import reverse %>
<%include file="nav.html"/>
<div id="base_area">
    <div class="side-menu">
        <div class="list-group">
            <a class="list-group-item text-center" href="${reverse('admin_manager')}" id="adminMenu">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true">&nbsp;</span>
                管理员&nbsp;&nbsp;&nbsp;
            </a>
            <a class="list-group-item text-center" id="userMenu">
                <span class="glyphicon glyphicon-user" aria-hidden="true">&nbsp;</span>
                普通用户
            </a>
            <a class="list-group-item text-center" href="${reverse('external_video')}" id="videoMenu">
                <span class="glyphicon glyphicon-film" aria-hidden="true">&nbsp;</span>
                外链视频
            </a>
            <a class="list-group-item text-center" href="${reverse('custom_video')}" id="selfVideoMenu">
                <span class="glyphicon glyphicon-sound-dolby" aria-hidden="true">&nbsp;</span>
                自制视频
            </a>
        </div>
<!--        <li><a href="${reverse('admin_manager')}">管理员</a></li>-->
<!--        <li>用户</li>-->
<!--        <li><a href="${reverse('external_video')}">外链视频</a></li>-->
<!--        <li>自制视频</li>-->
    </div>

    <div class="base-content">
        ${self.content()}
    </div>
</div>
</body>
<script type="application/javascript" src="/static/dashboard/js/jquery-1.12.4.min.js"></script>
<script type="application/javascript" src="/static/dashboard/js/bootstrap.min.js"></script>
<script type="application/javascript" src='/static/dashboard/js/toastr.min.js'></script>
<script type="application/javascript" src='/static/dashboard/js/bootstrapValidator.min.js'></script>
<script type="application/javascript">
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "positionClass": "toast-top-right",
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "2000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>
${self.js()}
</html>
<%def name="title()"></%def>
<%def name="css()"></%def>
<%def name="content()"></%def>
<%def name="js()"></%def>
